.account button:hover {
  color: #dd73fe;
  background-color: #fff;
  border: 2px solid #dd73fe;
}

.account small {
  color: #999;
  font-weight: lighter;
}

.account button {
  background-color: #dd73fe;
  color: #fff;
  border: 2px solid #fff;
  width: 70%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  text-align: center;
}

.account {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  color: #999;
  font-weight: 400;
}

